In [24]:
import pandas as pd
import numpy as np
from uszipcode import SearchEngine
from uszipcode import Zipcode

In [3]:
df = pd.read_csv("green_tripdata_2014-05.csv", low_memory=False)

In [46]:
df.dtypes

VendorID                  object
lpep_pickup_datetime      object
Lpep_dropoff_datetime      int64
Store_and_fwd_flag       float64
RateCodeID               float64
Pickup_longitude         float64
Pickup_latitude          float64
Dropoff_longitude          int64
Dropoff_latitude         float64
Passenger_count          float64
Trip_distance            float64
Fare_amount              float64
Extra                    float64
MTA_tax                  float64
Tip_amount               float64
Tolls_amount             float64
Ehail_fee                  int64
Total_amount             float64
Payment_type             float64
Trip_type                float64
dtype: object

In [21]:
df.head()

                                  VendorID lpep_pickup_datetime  \
2 2014-05-01 00:00:00  2014-05-01 22:05:36                    N
  2014-05-01 00:00:00  2014-05-01 07:52:17                    N
  2014-05-01 00:00:00  2014-05-01 10:50:16                    N
  2014-05-01 00:00:00  2014-05-01 20:50:04                    N
  2014-05-01 00:00:00  2014-05-01 10:35:50                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2014-05-01 00:00:00        -73.977715        40.687542                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1

                       Dropoff_latitude  Passenger_count  Trip_distance  \
2 2014-05-01 00:00:00              0.95              6.5            0.5
  2014-05-01 00:00:00              1.95              9.0            0.0
  2014-05-01 00:00:00              5.65             26.5            0.0
  2014-05-01 00:00:00              6.88             24.0            0.5
  2014-05-01 00:00:00              4.46             21.0            0.0

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2014-05-01 00:00:00          0.5   1.40      0.0         NaN          8.90
  2014-05-01 00:00:00          0.5   2.25      0.0         NaN         11.75
  2014-05-01 00:00:00          0.5   3.00      0.0         NaN         30.00
  2014-05-01 00:00:00          0.5   0.00      0.0         NaN         25.00
  2014-05-01 00:00:00          0.5   3.00      0.0         NaN         24.50

                       Ehail_fee  Total_amount  Payment_type  Trip_type
2 2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          2           1.0           NaN         NaN
  2014-05-01 00:00:00          1           1.0           NaN         NaN

## Data Cleaning

### Getting rid of Null, NaN values

In [40]:
df1 = df.replace(to_replace='None', value=np.nan).dropna()

### Getting rid of all rows with lat, long values as 0

In [47]:
df1 = df.loc[(df["Pickup_latitude"] != 0) & (df["Pickup_latitude"] != 0)]
# df1 = df.drop(df[(df['Pickup_latitude']==0.0)  (df['Pickup_longitude']==0.0)].index)
df1.shape

(1419247, 20)

## Feature Engineering

### Getting ZipCode from Latitude and Longitude

In [6]:
def get_zip_code(lat,long):
    result = search.by_coordinates(lat, long, radius=5, returns=1)
    return result[0]

### Getting Historical Weather Information from Zipcode and Timestamp

In [ ]:
def get_weather_from_that_day(zipcode, city, timestamp):
    print(zipcode, city, timestamp)
    #Need to get free weather API
    #fetch historical weather data

### Trip Frequency by time slices in a particular Zipcode radius

In [35]:
def get_trip_frequency(df, curr_row, hrs=1):
    plat = row['Pickup_latitude']
    plong = row['Pickup_longitude']
    dlat = row['Dropoff_latitude']
    dlong = row['Dropoff_longitude']
    print("Pickup Lat : {} - Long: {} ---- Dropoff Lat : {} - Long: {}".format(plat,plong,dlat,dlong))

In [36]:
df2 = df.iloc[0:4]

In [37]:
df2

                                  VendorID lpep_pickup_datetime  \
2 2014-05-01 00:00:00  2014-05-01 22:05:36                    N
  2014-05-01 00:00:00  2014-05-01 07:52:17                    N
  2014-05-01 00:00:00  2014-05-01 10:50:16                    N
  2014-05-01 00:00:00  2014-05-01 20:50:04                    N

                       Lpep_dropoff_datetime  Store_and_fwd_flag  RateCodeID  \
2 2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0
  2014-05-01 00:00:00                      1                 0.0         0.0

                       Pickup_longitude  Pickup_latitude  Dropoff_longitude  \
2 2014-05-01 00:00:00        -73.977715        40.687542                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1
  2014-05-01 00:00:00          0.000000         0.000000                  1

                       Dropoff_latitude  Passenger_count  Trip_distance  \
2 2014-05-01 00:00:00              0.95              6.5            0.5
  2014-05-01 00:00:00              1.95              9.0            0.0
  2014-05-01 00:00:00              5.65             26.5            0.0
  2014-05-01 00:00:00              6.88             24.0            0.5

                       Fare_amount  Extra  MTA_tax  Tip_amount  Tolls_amount  \
2 2014-05-01 00:00:00          0.5   1.40      0.0         NaN          8.90
  2014-05-01 00:00:00          0.5   2.25      0.0         NaN         11.75
  2014-05-01 00:00:00          0.5   3.00      0.0         NaN         30.00
  2014-05-01 00:00:00          0.5   0.00      0.0         NaN         25.00

                       Ehail_fee  Total_amount  Payment_type  Trip_type
2 2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          1           1.0           NaN         NaN
  2014-05-01 00:00:00          2           1.0           NaN         NaN

In [38]:
search = SearchEngine(simple_zipcode=True)

In [39]:
for index, row in df2.iterrows():
    lat = row['Pickup_latitude']
    long = row['Pickup_longitude']
    if lat != 0 and long != 0:
        print(index)
        print("Lat: {} ---- Long: {}".format(lat,long))
        zipcode = get_zip_code(lat,long)
        print("Zipcode: {} ---- City: {}".format(zipcode.zipcode, zipcode.city))

(2, '2014-05-01 00:00:00')
Lat: 40.68754196166992 ---- Long: -73.97771453857422
Zipcode: 11217 ---- City: Brooklyn